[Unit]
Description=newrelic-sysmond

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=20m
ExecStart=/usr/bin/docker run --rm --name newrelic-sysmond-1 -e NEWRELIC_LICENSE_KEY=YOUR_NEW_RELIC_KEY johanneswuerbach/newrelic-sysmond
ExecStop=/usr/bin/docker kill newrelic-sysmond-1

[Install]
WantedBy=multi-user.target

[X-Fleet]
X-Conflicts=newrelic-sysmond.*.service